.book-list-element {
    border: 1px solid #c3c3c3;
    padding: 10px;
    margin-bottom: 10px;
}

.book-list-element .book-img {
    float: left;
    border: 1px solid #c3c3c3;
    width: 20%;
}

.book-list-element .center {
    float: left;
    padding: 10px;
    width: 50%;
}

.book-list-element .center table .name {
    font-weight: bold;
    width: 100px;
}

.book-list-element .author-img {
    float: left;
    border: 1px solid #c3c3c3;
    width: 20%;
}
.book-list-element .footer {
    clear: both;
}

/* buttons style */
.book-list-element .btn-read,
.book-list-element .btn-go-to-author {
    margin-right: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.book-list-element .btn-read:hover,
.book-list-element .btn-go-to-author:hover {
    background-color: #4C5550; /* Green */
}